/* Basic styles for the body */

body, html {
  scrollbar-width: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}


#myCanvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}
