/* Basic styles for the body */

* {
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  overflow: hidden; /* Add this line to hide the scrollbars */
}


#myCanvas {
  background-color: black;
  overflow: hidden;
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
html {
  scrollbar-width: none;
  overflow: hidden;
}