*{
    margin: 0;
    overflow: hidden;
}

#hintContainer {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 400px;
}

#hintContainer li {
    list-style: none;
    background-color: #000000ce;
    color: white;
    letter-spacing: 1px;
    font-size: 1.1rem;
    padding: 10px;
    margin: 1px 0;
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

/* .hint_show{
    transform: translateY(0);
    transition: transform 0.3s ease;
} */
