/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}


#myCanvas {
  background-color: black;
}