body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: white;
    user-select: none;
    display: none;
}

#garage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    background-color: #00000096;
    width: 600px;
    height: 700px;
    padding: 20px;
}

.vehicle-list,
.vehicle-info {
    border: 2px solid white;
    padding: 10px 35px;
}

#vehicleName {
    text-align: center;
}

#garage-vehicle-list {
    direction: rtl;
    list-style-type: none;
    padding: 0;
    max-height: 600px; /* Set a fixed height to enable scrolling */
    overflow: hidden;
    overflow-y: auto;
    scrollbar-color: #6b6b6b #2b2b2b; /* Firefox */
}

#garage-vehicle-list::-webkit-scrollbar {
    background-color: #2b2b2b;
}

#garage-vehicle-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #6b6b6b;
    min-height: 24px;
    border: 3px solid #2b2b2b;
}

#garage-vehicle-list::-webkit-scrollbar-thumb:focus {
    background-color: #959595;
}

#garage-vehicle-list::-webkit-scrollbar-thumb:active {
    background-color: #959595;
}

#garage-vehicle-list::-webkit-scrollbar-thumb:hover {
    background-color: #959595;
}

#garage-vehicle-list::-webkit-scrollbar-corner {
    background-color: #2b2b2b;
}

.list {
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.list:hover {
    background-color: #525252;
}

.btn-get {
    width: 100%;
    padding: 10px;
    background-color: #08c002;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.btn-get:hover {
    background-color: #09ff00;
}

img {
    width: 200px;
}

.selected {
    background-color: lightgray;
}