body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: none;
    font-family: Arial, sans-serif;
}

#ui {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#coordBox {
    font-size: 20px;
    width: 300px;
    padding: 8px;
    margin-right: 10px;
}